body{
    background-color: lightgreen;
    background-color: #fbeedb;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.main{
    text-align: center;
    width: 600px;
    margin: auto;
}
h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
a{
    color: green;
}
a:hover{
    color: darkred;
}
table{
    border: 5px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
tr{
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
}

h2, h5{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    color: rgb(23, 95, 23);
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}